<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{ knp_menu_render('topMenu', { 'style': 'navbar' }) }}
        {#{ knp_menu_render(rightNavbarMenu, { 'style': 'navbar-right' }) }#}
    </div>
</nav>
